

h1, h2, h3 {
	text-align:center;
}

.container {
	width:50%;
	min-width:600px;
	margin-bottom:20px;
    margin-top: 20px;
	text-align: center;
    background-color: lightblue;
    border:2px solid blue;
      
}


img {
	display:block;
	margin:auto;
	width:40%;
    border:2px solid black;
}